body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.line {
  bottom: 0;
  color: #000;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 17px;
}

$max: 30;
@for $i from 0 to $max {
  .item-#{$i} {
    color: rgba(0, 255, 0, (1 / $max * $i));
  }
}

