body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.line {
  bottom: 0;
  color: #000;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 17px;

  span {
    color: #0f0;
    opacity: 0;
  }
}

$max: 20;
@for $i from 0 to $max {
  .line .item-#{$i} {
    opacity: 1 / $max * $i;
  }
}

